<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--        <bean id="device"-->
<!--              class="com.eraly.Laptop">-->
<!--        </bean>-->

<!--        <bean id="shop"-->
<!--              class="com.eraly.Shop">-->
<!--                <property name="device" ref="device"/>-->
<!--        </bean>-->

<!--        <bean id="car"-->
<!--              class="com.eraly.Car">-->
<!--            <property name = "name" value="Car1"/>-->
<!--            <property name = "age" value="22"/>-->
<!--        </bean>-->

        <context:component-scan base-package="com.eraly"/>
    <!--    <bean id="student"-->
    <!--          class="com.erlan.Student">-->
    <!--        <property name = "name" value = "Erlan"/>-->
    <!--        <property name = "age" value = "33" />-->
    <!--    </bean>-->


</beans>